:root {
  --primary: white;

  --accent: #ffc400;

  --background: #000000;
  --background-main: #000000;


  --muted: #141414;
  --muted-hover: #2e2e2e;
  --muted-foreground: #919191;
}

/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'VCRosdNEUE';
  src: url('../fonts/VCRosdNEUE.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* -------------------------------------------------------------------------- */

body {
	/* font-family: "Press Start 2P", system-ui; */
  font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
  color: #fff;
  background-color: black;
	overflow-x: hidden;
}



/* -------------------------------------------------------------------------- */
/*                             OVERRIDE BOOTSTRAP                             */
/* -------------------------------------------------------------------------- */

/* ------------------------------- Background ------------------------------- */
.bg-background {
  background-color: var(--background) !important;
}
.bg-background-main {
  background-color: var(--background-main) !important;
}

/* ---------------------------------- Text ---------------------------------- */
.text-primary {
  color: var(--primary) !important;
}
.text-accent {
  color: var(--accent) !important;
}
.text-muted {
  color: var(--muted) !important;
}
.text-muted-foreground {
  color: var(--muted-foreground) !important;
}

/* --------------------------------- Border --------------------------------- */
.border-muted-foreground {
  border-color: var(--muted-foreground) !important;
}

/* --------------------------------- Buttons -------------------------------- */
.btn {
	border-radius: var(--bs-border-radius) !important;
}
/* BTN-MUTED */
.btn-muted {
  color: var(--primary) !important;
  background-color: var(--muted) !important;
  border-color: var(--muted) !important;
}
.btn-muted:hover {
  color: var(--primary) !important;
  background-color: var(--muted-hover) !important;
  border-color: var(--muted-hover) !important;
}
/* only change color for enabled */
.btn-muted-enabled {
  color: var(--accent) !important;
  background-color: var(--muted-hover) !important;
  border-color: var(--muted-hover) !important;
}
.btn-muted-enabled:hover {
  color: var(--accent) !important;
  background-color: var(--muted-hover) !important;
  border-color: var(--muted-hover) !important;
}

.nav-link {
  color: var(--primary) !important;
}
.nav-link:hover {
  color: var(--accent) !important;
}

/* ---------------------------------- Input --------------------------------- */

/* ------------------------------- Form Control ------------------------------ */
.form-control {
  background-color: var(--muted) !important;
  color: var(--primary) !important;
  border-color: var(--muted) !important;
}
.form-control::placeholder {
  color: var(--muted-foreground) !important;
}

/* -------------------------------------------------------------------------- */

/* -------------------------------- Container ------------------------------- */

.container-sm {
  max-width: 500px;
}

.container-md {
  max-width: 800px;
}

/* -------------------------------------------------------------------------- */

.pa-btn {
  color: #fff;
  background-color: #6abc3a;
  padding: 15px 40px 15px 40px;
  margin: 10px;
   font-size: 14px;
font-family: "Press Start 2P", system-ui;
  border: 0;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
  cursor: pointer;
}
.pa-btn:active {
  transform: translateY(5px);
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
}



/* #app {
	height: 100%;
}

* {
	margin: 0!important;
	padding: 0!important;
}

a {
	text-decoration: none!important;
	color: inherit;
} */