

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.DS_Store

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

##############################
## OS X
##############################

*.log
client_secret.json


##############################
## Transcendance
##############################

# DJANGO
*.pyc
*.pyo
*.pyd
*.sqlite3

venv/
.env

